@{ 
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hien Store</title>
    <link rel="stylesheet" href="~/css/Style.css">
</head>
<body>
    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <a asp-controller="ASM" asp-action="Index">
                        <h1><span>H</span>ien <span>S</span>tore</h1>
                    </a>
                </div>
                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar"></div>
                    </div>
                    <ul>

                        <li class="sp">
                            <a href="#San-Pham" data-after="SanPham">Sản Phẩm</a>
                            <div class="sub-menu1">
                                <ul>
                                    <li>
                                        <a href="#Nam">
                                            <img src="/images/main/chonam.jpg">
                                            <h3>Cho Nam</h3>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#Nu">
                                            <img src="/images/main/chonu.jpeg">
                                            <h3>Cho Nữ</h3>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </li>
                        <li><a href="#Nam" data-after="Nam">Nam</a></li>
                        <li><a href="#Nu" data-after="Nu">Nữ</a></li>
                        <li><a href="#Thong-Tin" data-after="ThongTin">Thông Tin</a></li>
                        <li>
                            <a>
                                <div class="search-box">
                                    <div class="input-box">
                                        <input type="text" placeholder="Tìm Kiếm Sản Phẩm">
                                    </div>
                                    <button class="search-button">
                                        <img src="/images/main/search.png" alt="">
                                    </button>
                                </div>
                            </a>
                        </li>
                        <li>
                            @{ if (ViewBag.UsersName != null)
                                {
                                    <a asp-controller="ASM" asp-action="Cart">
                                        <div class="gio-hang">
                                            <button class="button-giohang">
                                                <img src="/images/main/giohang.png">
                                            </button>
                                        </div>
                                    </a>
                                }
                                else
                                {
                                    <a asp-controller="ASM" asp-action="Login">
                                        <div class="gio-hang">
                                            <button class="button-giohang">
                                                <img src="/images/main/giohang.png">
                                            </button>
                                        </div>
                                    </a>
                                }
                            }
                        </li>
                        <li>
                            @{ if (ViewBag.UsersName != null)
                                {
                                    <a asp-controller="ASM" asp-action="Login">
                                        <div class="acount">

                                            <button class="button-acount">
                                                <img src="/images/main/account.png">
                                            </button>

                                        </div>
                                        <h3>@ViewBag.UsersName</h3>
                                    </a>
                                    <div class="sub-menu1">
                                        <ul>

                                            <li>
                                                <a asp-controller="Users" asp-action="Index">
                                                    <h3>Quản Lý Users</h3>
                                                </a>
                                                <a asp-controller="Products" asp-action="Create">
                                                    <h3>Quản Lý Sản Phẩm</h3>
                                                </a>
                                                <a onclick="location.href = '@Url.Action("Logout", "ASM")'">
                                                    <h3>Log Out</h3>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    <a asp-controller="ASM" asp-action="Login">
                                        <div class="acount">

                                            <button class="button-acount">
                                                <img src="/images/main/account.png">
                                            </button>

                                        </div>
                                    </a>
                                }
                            }
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="main">
        <div class="main container">
            <div>
                <H1>Sneaker,</H1>
                <h1>Off 20%</h1>
                <a href="#" type="button" class="cta">Mua Ngay</a>
            </div>

        </div>
    </section>


    <section id="San-Pham">
        <div class="SanPham container">
            <div class="SanPham-top">
                <h1 class="section-title">Sản Phẩm</h1>
            </div>
            <div class="SanPham-bottom">
                <div class="SanPham-item">
                    <div class="icon"><img src="/images/main/sanphammoi.jpg" /></div>
                    <h2>Sản Phẩm Mới</h2>

                </div>
                <div class="SanPham-item">
                    <div class="icon"><img src="/images/main/banchay.jpg" /></div>
                    <h2>Sản Phẩm Bán Chạy</h2>

                </div>
                <div class="SanPham-item">
                    <div class="icon"><img src="/images/main/outsale.jpeg" /></div>
                    <h2>Best Saller</h2>

                </div>

            </div>
        </div>
    </section>

    <section id="Nam">
        <div class="Nam container">
            <div class="Nam-top">
                <h1 class="section-title">Nam</h1>
            </div>
            @foreach (var product in ViewBag.products)
            {
                <div class="Nam-bottom">
                    <div class="Nam-item">
                        <div class="icon"><img src="@product.ProductImage" /></div>
                        <h2>@product.ProductName</h2>
                        <h2>@product.ProductPrice</h2>
                        <a asp-controller="ASM" asp-action="buy" asp-route-id="@product.ProductId">
                            <input type="submit" value="Thêm Giỏ Hàng">
                        </a>
                    </div>
                </div>
            }

        </div>
    </section>

    <section id="Nu">
        <div class="Nu container">
            <div class="Nu-top">
                <h1 class="section-title">Nữ</h1>
            </div>
            <div class="Nu-bottom">
                <div class="Nu-item">
                    <div class="icon"><img src="/images/main/sanphammoi.jpg" /></div>
                    <h2>Sản Phẩm Mới</h2>
                    <h2>3.900.000đ</h2>
                    <input type="submit" value="Thêm Giỏ Hàng">

                </div>
                <div class="Nu-item">
                    <div class="icon"><img src="/images/main/banchay.jpg" /></div>
                    <h2>Sản Phẩm Bán Chạy</h2>
                    <h2>3.900.000đ</h2>
                    <input type="submit" value="Thêm Giỏ Hàng">

                </div>
                <div class="Nu-item">
                    <div class="icon"><img src="/images/main/outsale.jpeg" /></div>
                    <h2>Best Saller</h2>
                    <h2>3.900.000đ</h2>
                    <input type="submit" value="Thêm Giỏ Hàng">

                </div>

                <div class="Nu-item">
                    <div class="icon"><img src="/images/main/outsale.jpeg" /></div>
                    <h2>Best Saller</h2>
                    <h2>3.900.000đ</h2>
                    <input type="submit" value="Thêm Giỏ Hàng">

                </div>

                <div class="Nu-item">
                    <div class="icon"><img src="/images/main/sanphammoi.jpg" /></div>
                    <h2>Sản Phẩm Mới</h2>
                    <h2>3.900.000đ</h2>
                    <input type="submit" value="Thêm Giỏ Hàng">

                </div>
                <div class="Nu-item">
                    <div class="icon"><img src="/images/main/banchay.jpg" /></div>
                    <h2>Sản Phẩm Bán Chạy</h2>
                    <h2>3.900.000đ</h2>
                    <input type="submit" value="Thêm Giỏ Hàng">

                </div>
                <div class="Nu-item">
                    <div class="icon"><img src="/images/main/outsale.jpeg" /></div>
                    <h2>Best Saller</h2>
                    <h2>3.900.000đ</h2>
                    <input type="submit" value="Thêm Giỏ Hàng">

                </div>

                <div class="Nu-item">
                    <div class="icon"><img src="/images/main/outsale.jpeg" /></div>
                    <h2>Best Saller</h2>
                    <h2>3.900.000đ</h2>
                    <input type="submit" value="Thêm Giỏ Hàng">
                </div>

            </div>
        </div>
    </section>



    <section id="Thong-Tin">
        <div class="ThongTin container">
            <div class="ThongTin-top">
                <h1 class="section-title">Thông Tin Sản Phẩm</h1>
            </div>
            <div class="ThongTin-bottom">
                <div class="ThongTin-item">
                    <iframe width="400" height="300" src="https://www.youtube.com/embed/Eel0GolpQDA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h2>15 cách dễ dàng để mang Air Jordan 1 "Mocha"</h2>
                </div>
                <div class="ThongTin-item">
                    <iframe width="400" height="300" src="https://www.youtube.com/embed/lNvVqcfPYMY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <H2>5 Cách Mới Phối Nike Air Jordan 1</H2>

                </div>
                <div class="ThongTin-item">
                    <iframe width="400" height="300" src="https://www.youtube.com/embed/LYgcQcH6_TQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <H2>AIR JORDAN 1-23</H2>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    @*<section id="footer">
            <div class="footer container">
                <div class="brand">
                    <h1><span>H</span>ien <span>S</span>tore</h1>
                </div>
                <h2>Sneaker</h2>
                <div class="social-icon">
                    <div class="social-item">
                        <a href="#"><img src="/images/main/fb.png" /></a>
                    </div>
                    <div class="social-item">
                        <a href="#"><img src="/images/main/ins.png" /></a>
                    </div>
                    <div class="social-item">
                        <a href="#"><img src="/images/main/ytb.png" /></a>
                    </div>
                </div>
                <p>Copyright © 2021 TanHien. All rights reserved</p>
            </div>
        </section>*@

</body>
</html>


